


#title {
	display:block;
	 margin-left: 450px;
	 margin-right: auto;
	 
	 padding-top: 190px;
	 padding-bottom: 30px;
	 text-align: center;
	


	}

.searchbox{
	margin: 0 auto;
	display: block;
	width:40%;
	height:35px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC) no-repeat right center;
	background-size: contain;
	font-size: 1.0em;
	border: 1px solid #D3D3D3;
	text-indent: 5px;
}

.searchbox:focus{
	outline: solid 1px #0266C8;
}


.searchbutton1{
	margin: 0 ;
	padding-right: 1px;
	display: inline-block;
   	width: 100px;
   	height: 30px;
	position: absolute;
     left: 40%;
     font-weight: bold;
     border: 1px solid #d0d0d0;
     background: #F5F5F5;   
	
}

.searchbutton1:hover{

	outline: 1px #D3D3D3 solid;
}

.searchbutton2{
	margin: 0;
	display: inline-block;
		padding-left: 1px;
 	width: 120px;
   	height: 30px;

	     position: absolute;
     right: 40%;
      font-weight: bold;
     border: 1px solid #d0d0d0;
     background: #F5F5F5;
     font-color:#666666;

	
}

.searchbutton2:hover{

	outline: 1px #D3D3D3 solid;
}


.topbar{
   
    
    margin: 0;
    padding: 0;
    
     display: inline-block;
     margin: 1px;
     float:right;

}

li{
	list-style-type: none;
	display:inline;
	margin: 6px;
	font-family: Arial;
}

.gmail{
	text-decoration: none;
	text-align: center;
}

.gmail:hover{
	text-decoration: underline;
}

.image{
		text-decoration: none;
	text-align: center;
}

.image:hover{
	text-decoration: underline;
}

.footer{
	display: block;
	
	bottom: 0;
	background-color: #F5F5F5;
	width: 100%;
	height:40px;
	position: fixed;
	border-top: 1px solid #D3D3D3;
	margin-left: -5px;
	padding:0;
}

.leftfoot{
	float:left;
	margin-left: -25px;

}

.leftfoot ul li a{
	font-size: 1em;
	font-family: arial;
	text-decoration: none;
	font-color: #D3D3D3;
}

.leftfoot ul li a:hover{
	text-decoration: underline;
}

.rightfoot{
	float:right;
	margin-right: 20px;

}


.rightfoot ul li a{
	font-size: 1em;
	font-family: arial;
	text-decoration: none;
	font-color: #D3D3D3;
}

.rightfoot ul li a:hover{
	text-decoration: underline;
}

